/* Responsive Design For Tablets */
@media only screen and (max-width: 1280px){
  section.grids {
    padding: 0% 0px 8%;
  }
  .mar {
    font-size: 40px;
  }
  .stext {
    font-size: 21px;
  }
  .flex-box {
    display: flex;
    flex-direction: row;
  }
  .grid-box{
    display: grid;
    grid-template-rows: none;
    grid-template-columns: 1fr 1fr;
  }
  .three{
    margin-left: 40px;
    margin-top: -3px;
  }
  .grid-item {
    object-fit: fill;
    display: flex;
    flex-direction: column;
  }
  .two, .four, .imgheight {
    display: none;
  }
  .flex-box.toggle-tab {
    display: flex;
  }

  .imgheight.toggle-tab {
    display: block;
  }
}


/* Responsive Design For Phones */
@media only screen and (max-width: 414px) {
  section {
    padding: 15px 0px;
  }
  section.grids {
    padding: 5% 0px;
  }
  .mar {
    font-size: 56px;
  }
  .stext {
    color: grey;
    font-size: 24px;
  }
  .two, .three, .four, .five {
    margin-left: 30px;
    margin-bottom: 30px;
  }
  /* .two, {
    display:block;
    margin-left: 30px;
  } */

  .one {
    text-align: center;
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
  }
  /* .four {
    margin-left: -307px;
    display: block;
    margin-top: 295px;
  } */

  .two, .four, .imgheight {
    display: block;
  }

  .imgheight.toggle-tab,
  .flex-box.toggle-tab {
    display: none;
  }

  .grid-box{
    width: 100%;
    margin: 0px;
    grid-template-columns: 0;
    grid-template-rows: 1fr 1fr 1fr;
    height: 1280px;
  }

  .grid-item:first-child {
    position: relative;
    /* bottom: 7em; */
    top: 3em;
  }

  /* DRY: Don't Repeat Yourself */
}
